page-marketing {
    /*.has-header {
        background-image: url(../../assets/icon/newbkg.png);
    }*/
    #titre {
        display: block;
        font-size: 20px;
        padding: 10px auto;
        margin: 15px auto;
        text-align: center;
        color: white;
        font-family: 'JimNightshade-Regular'
    }
    //  background-image: url("../img/newbkg.png");
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
            opacity: 0.6;
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.3em;
            width: 100%;
            font-weight: bold;
            color: black;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
    }
}