page-home {
    /*   @font-face {
        //  font-family: 'Jim Nightshade', cursive;
        //   src: url("../../assets/fonts/JimNightshade-Regular.ttf");
        //   font-family: 'Ranga', cursive;
        //  src: url("../../assets/fonts/Ranga-Regular.ttf");
        font-family: 'Helvetica';
        src: url("../../assets/fonts/Helvetica-Light.ttf");
    }
    @font-face {
        //  font-family: 'Jim Nightshade', cursive;
        //   src: url("../../assets/fonts/JimNightshade-Regular.ttf");
        //   font-family: 'Ranga', cursive;
        //  src: url("../../assets/fonts/Ranga-Regular.ttf");
        font-family: 'Nanami-Rounded-Medium';
        src: url("../../assets/fonts/Nanami-Rounded-Light.otf");
    }*/
    /*  .has-header {
        background-image: url(../assets/icon/background.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        //  background-size: contain;
    }*/
    //  background-image: url("../img/newbkg.png");
    .btnhome {
        display: block;
        size: 50px;
        padding: 1.5em 1em;
        margin: 0.1em auto;
        text-align: center;
        font-size: 1.5em;
        color: black;
        background-color: rgba(248, 248, 248, 0.75);
        // margin: 20px auto;
        /*   display: block;
        size: 50px;
        padding: 10px auto 10px auto;
        margin: -1px auto;
        width: 85%;
        height: 78px;
        text-align: center;
        font-size: 15px;
        //  background-color: transparent !important;
        //   font-family: 'Nanami-Rounded-Medium';
        color: black;
        // color: white !important;
        background-color: rgba(248, 248, 248, 0.75);
        //font-size-adjust: 0.58;
        //text-align: left;
        // padding-right:10px;
        // margin: 10px 10px 10px 10px;
        // word-break: break-all !important;
        //font-weight: 200 !important;
        line-height: 24px;
        word-break: break-all !important;
        //  font-weight: 200 !important;
        // font-weight: bold;
        // display: table;
        line-height: 24px;
        word-break: break-all !important;
        font-weight: 200 !important;
        // white-space: pre-wrap*/
    }
    #icon1 {
        align-content: right;
    }
    .icon-right {
        position: absolute;
        right: 25px;
        size: normal;
        align-content: right;
    }
    #titre {
        display: block;
        font-size: 20px;
        padding: 10px auto;
        // margin: 20px auto;
        text-align: center;
        color: white;
        //  font-family: 'Nanami-Rounded-Medium'
    }
    .h1 {
        display: block;
        text-align: center;
        padding: auto;
        margin: 17px;
        // font-family: 'Nanami-Rounded-Medium';
        //  background-color: white;
        //  width: 90%;
        // height: 10%;
    }
    #idlist {
        //padding: 10px auto;
        //margin: 10px auto;
        width: 80%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        height: 5%;
        background-color: white !important;
        //margin-left: 10px;
        //margin-right: 10px;
    }
}