page-showticket {
    @font-face {
        //  font-family: 'Jim Nightshade', cursive;
        //   src: url("../../assets/fonts/JimNightshade-Regular.ttf");
        //   font-family: 'Ranga', cursive;
        //  src: url("../../assets/fonts/Ranga-Regular.ttf");
        font-family: 'Helvetica';
        src: url("../../assets/fonts/Helvetica-Light.ttf");
    }
    /* #back {
        background-image: url(../assets/icon/bkg.png);
    }*/
    #pa {
        background-image: url(../assets/icon/ticket_blanc.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 260px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        -webkit-background-size: cover;
        /* pour Chrome et Safari */
        -moz-background-size: cover;
        /* pour Firefox */
        // -o-background-size: cover; /* pour Opera */
        background-size: cover;
        /* version standardisée */
        //position: relative;
    }
    #textwelcome {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    #num {
        text-align: center;
        font-size: 60px;
        display: block;
        //  vertical-align: text-bottom;
        // margin-top: 500px;
        margin: 146px auto;
        padding: 72px;
        position: absolute;
        top: 50%;
        /* poussé de la moitié de hauteur du référent */
        transform: translateY(-120%);
    }
    h1 {
        color: white;
        font-family: 'Helvetica';
    }
    #listhz {
        background-color: white;
        font-size: 40px;
        text-align: center;
    }
    #txt {
        text-align: center;
        //  vertical-align: center;
        font-size: 25px;
        margin: 10px auto;
        padding: 0 auto;
        display: block;
        color: white;
    }
    .ion-scroll {
        overflow: scroll;
        white-space: nowrap;
        background-color: blue;
    }
    .scrolll {
        background-color: yellow;
    }
    //********************************************************
    .ticket_container {
        background: url(../assets/icon/Ticket.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: contain;
        height: 20em;
        max-height: 21.875em;
        margin-top: 3em;
        margin-bottom: 2em;
        // background-color: blue;
    }
    .ticket_nmbr {
        line-height: 100%;
        margin-bottom: 10px;
    }
    .ticket_info {
        position: relative;
        text-align: center;
        font-weight: bold;
        display: table;
        width: 100%;
    }
    .ticket_branch {
        text-align: center;
        padding-bottom: 1em;
        padding-top: 1em;
        font-size: 1.2em !important;
    }
    .ticket-size-1 {
        font-size: 62px !important;
    }
    .ticket-size-2 {
        font-size: 62px !important;
    }
    .ticket-size-3 {
        font-size: 40px !important;
    }
    .ticket-size-4 {
        font-size: 50px !important;
    }
    .ticket-size-5 {
        font-size: 39px !important;
    }
    .ticket-size-6 {
        font-size: 29px !important;
    }
    .ticket-service-name {
        margin-top: 1em;
        color: black !important;
        font-size: 20px !important;
        width: 133px !important;
        line-height: 24px;
        word-break: break-all !important;
        font-weight: 200 !important;
    }
    .ticket-remove-heading {
        margin-top: 2em !important;
        margin-bottom: 2em !important;
        width: 94%;
        margin-left: auto;
        margin-right: auto;
    }
    .expand-view {
        position: absolute;
    }
    .ticket-text {
        //  width: 80%;
        vertical-align: super;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .fadeIn {
        visibility: visible !important;
    }
    .fadeOut {
        visibility: hidden !important;
    }
    .v-center {
        vertical-align: middle;
        display: table-cell;
    }
    .inside-margin {
        height: 0;
    }
    .sub-heading-text-2 {
        font-size: 20px;
        color: #FFFFFF;
        //  font-family: Nanami-Rounded-Light;
        width: 75%;
        margin: 0 auto;
    }
    .child-center {
        display: inline-block;
        vertical-align: middle;
    }
    .parent-center:before {
        content: '\200B';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    ///queut info
    .queue-itm {
        display: inline-block;
        color: black;
        vertical-align: middle;
        margin-right: 2px;
    }
    .center-content {
        position: relative;
        right: 2px;
    }
    .queue-itm.empty {
        background: lightslategrey;
        opacity: 0.25;
        width: 8.5vw;
        height: 8.5vw;
        font-size: 16px;
        max-width: 40px;
        max-height: 40px;
    }
    .queue-itm.other {
        background: lightslategrey;
        width: 8.5vw;
        height: 8.5vw;
        font-size: 16px;
        max-width: 40px;
        max-height: 40px;
        text-align: -webkit-center;
    }
    .queue-itm.selected {
        background: white;
        //  font-weight: 500;
        font-size: 17px;
        width: 12vw;
        height: 12vw;
        max-width: 50px;
        max-height: 50px;
        display: inline-table;
    }
    .queue-itm.animselected {
        animation: pulse-selected 2s;
    }
    .content-container-one,
    .content-container-two {
        display: table-row;
        vertical-align: middle;
    }
    .content-container-one>div,
    .content-container-two>div {
        display: table-cell;
        vertical-align: middle;
    }
    .guichet {
        font-size: 25px;
        color: white;
        vertical-align: middle;
        text-align: center;
        font-family: 'Nanami-Rounded-Medium';
    }
    /* Animation */
    @keyframes pulse-other {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes pulse-selected {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .labfin {
        color: white;
        font-size: 25px;
        vertical-align: middle;
        text-align: center;
        font-family: 'Nanami-Rounded-Medium';
    }
    .fvisit {
        display: block;
        //   margin: 10px auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    /* .fvisit button {
        color: red;
        font-size: 25px;
        padding-top: 9px;
        padding-left: 109px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }*/
    #bntq {
        display: block;
        padding: 25px;
        margin: 34px auto;
        width: 250px;
        font-family: Helvetica;
    }
    .fbutton {
        max-height: 350px;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .feed {
        padding: 10px auto;
        margin: 20px auto;
        margin-left: 20px;
        font-family: Helvetica;
        color: rgba(1, 255, 77, 0.81);
    }
    .new {
        font-family: Helvetica;
        padding: 10px auto;
        margin: 20px auto;
        color: rgba(1, 255, 77, 0.81);
        background-color: rgba(14, 94, 232, 0.46);
        margin-left: 20px;
    }
    /* Media Queries */
    @media (max-width: 400px) {
        .queue-itm.other {
            background: lightslategrey;
            width: 8.5vw;
            height: 8.5vw;
            font-size: 13px;
            max-width: 35px;
            max-height: 35px;
            text-align: -webkit-center;
        }
        .queue-itm.selected {
            background: white;
            font-weight: 500;
            font-size: 15px;
            width: 12vw;
            height: 12vw;
            max-width: 45px;
            max-height: 45px;
            display: inline-table;
        }
    }
}