<ion-header>
    <ion-navbar color='primary_'>
        <ion-toolbar>
            <ion-title> {{'ModuleTicketPage.title' | translate }} </ion-title>
            <div class="sub-title toolbar-title-md toolbar-title"> {{client}} </div>

        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content class="has-header">

    <div *ngIf="!iserror" class="page-content-default">
        <div class="page-message"> {{'ModuleTicketPage.message' | translate }}</div>
        <ion-list>
            <ion-item *ngFor=" let b of branche" class="btn-custom1 round" (click)="itemTaped(b)">
                <div center>{{b.name}}</div>
            </ion-item>
        </ion-list>
    </div>
    <error *ngIf="iserror" (click)="getAgence()"></error>

</ion-content>